.container{
    display: flex;
    align-content: center;
    justify-content: center;
}

.encabezado{
    display: flex;
    align-content: center;
    padding: 16px;
    width: 100%;
}

.crud-form{
    width: 100%;
}

input[type="text"]
{
    width: 100%;
}
.card-body{

    font-family: 'Times New Roman', Times, serif;
    align-content: center;
    
}

.card-header{
    font-family: 'Times New Roman', Times, serif;
    
}
